.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.products>h3{
    height: 200px;
    margin: auto;
    padding-top: 100px;
    padding-left:650px;
    
}

.Products {
    margin-top: 15px;
}

.Products>h1 {
    margin-left: 20px;
}

.productsOptions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:700px;
    margin-top: 25px;
}

.filterOption1 {
    display: flex;
    margin-left: 20px;
}

.filterOption1>h1 {
    font-size: 14px;
    margin: 10px;
}

.colorSelect {
    margin-right: 10px;
    padding: 6px;
    border: 1px solid rgb(195, 195, 195);
    width: 80px;
}

.filterOption2 {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.filterOption2>h1 {
    font-size: 14px;
    margin: 10px;
}

.sizeSelect {
    padding: 6px;
    border: 1px solid rgb(195, 195, 195);
    width: 60px;
}

.newSelect {
    padding: 6px;
    border: 1px solid rgb(195, 195, 195);
    width: 110px;
}

@media(max-width:600px){
    .productsOptions{
        display: flex;
        gap:30px;
    }
    .products>h3{
        padding-left:200px;
        
    }
}

@media(max-width:900px){
    .productsOptions{
        display: flex;
        gap:90px;
    
    }.products>h3{
        padding-left:200px;
        
    }
}

@media(max-width:1200px){
    .productsOptions{
        display: flex;
        gap:120px;
    }
}